$primary-color: #fff;
$secondary-color: #25B176;
// $show-home-image: true;
// $home-image: url(../img/GraffitiAlley-85-website.jpg);
// $background-opacity: 0.4;

@mixin easeOut {
  transition: all 0.5s ease-out;
}

@import 'config';
@import 'mobile';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  margin: 0;
  font-family: 'Futura', Helvetica, sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

// Headings

h1, h2, h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: -0.5px;

  &.lg-heading {
    font-size: 5rem;
    text-transform: uppercase;
  }
    &.sm-heading {
      margin-bottom: 2rem;
      padding: 0.2rem 1rem;
    }
}

a  {
  color: #444;
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}


main {
  padding: 4rem;
  min-height: calc(100vh - 60px);

    .icons {
      margin-top: 1rem;

      a {
        padding: 0.4rem;

        &:hover {
          color: $secondary-color;
          @include easeOut();
        }
      }
    }

    &#home {
      overflow: hidden;
      h1 {
        margin-top: 40vh;
      }
    }

  .about-info {
    display: grid;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
      grid-area: bioimage;
      margin: auto;
      border-radius: 50%;
      border: $secondary-color 3px solid;
    }

    .bio {
      grid-area: bio;
      font-size: 1.5rem;
    }

    .job-1 {
      grid-area: job1;
    }
    .job-2 {
      grid-area: job2;
    }
    .job-3 {
      grid-area: job3;
    }

    .job {
      background: lighten($primary-color, 5);
      border-bottom: $secondary-color 5px solid;
    }
  }
//Work Projects
  .projects {
    display: grid;
    text-align: center;
    margin: 5% 0 0 0;
    grid-template-columns: repeat(3, 1fr);

    img {
      width: 100%;
      border: 2px #fff solid;

      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
  }
//Project pages
  .project-details {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;

    .project-main-image {
      width: 100%;

      &:hover {
        opacity: 0.5;
        border-color: $secondary-color;
        @include easeOut;
      }
    }
      .container {
        display: inline-block;
        margin: 0 auto;
        max-width: 800px;
      }
        .grid {
          display: inline-flex;
        }
          .responsive-image {
            max-width: 100%;
            padding: 1rem;
            margin: 0 auto;
          }
            .tnt-old-website {
              display: flex;
              margin: 0 auto;
            }
  }

  .creative {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

        .creative-images {
          max-width: 50%;
          justify-content: center;
          align-items: center;
        }
    }


//Contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 2px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: #fff;
    }
  }
}

  //Button Styles
    .btn {
      display: block;
      padding: 0.5rem 1rem;
      border: 0;
      margin-bottom: 0.3rem;

      &:hover {
        background: $secondary-color;
        color: $secondary-color;
      }
    }
}
#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}
